# TAKE HOME QUIZ 1.B
Lucieni Saldanha

Steps:
- Pick some data set (ground truth)
- Generate a prediction set ( to be compared to ground truth)
- Analyze predictions and ground truth, using evalution metrics, explaining results

In [4]:
# Downloaded an training set from kaggle ( Titanic challenge - binary classification)
import pandas as pd
data = pd.read_csv("./train.csv")
data.shape

(891, 12)

We see that our dataset has 891 rows of data, and 12 columns.

In [6]:
# visualizing the list of columns dataframe or dataset has.
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
# visualizing the first 5 rows of our dataset
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

We are only interested in the column 'Survived', so we can have a list of 0 and 1, where 0 would be that the person did not survive and 1, if the person survived.

In [18]:
is_survived = data.Survived
print(is_survived.head(10))

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [10]:
print(len(is_survived))

891

Lets generate a random list (that will be our predictions list) that will be populated with 0 and 1.

In [24]:
# generating a list with 891 elements, and shuffle the elements.

model_predictions = [0] * 445 + [1] * 446

random.shuffle(model_predictions)

print(model_predictions[0:10])

[0, 1, 0, 0, 1, 0, 1, 1, 0, 0]

In [23]:
# turning the list into a dataframe
model_predictions_df = pd.DataFrame(model_predictions, columns=["Prediction"])
print(model_predictions_df.shape)

(891, 1)

In [22]:
# printing first 10 rows of our prediction data
print(model_predictions_df.head(10))

   Prediction
0           0
1           0
2           1
3           1
4           0
5           0
6           1
7           1
8           0
9           1

So far, we have obtained a data set with real values, is_survived, and generated a prediction data set, model_predictions_df.

We want to evaluate the data is_survived and the model_predictions_df, using evaluation metrics for our binary classification problem.
The metrics to be used:
    
    - Accuracy 
    - Precision-Recall
    - ROC_AUC
    - Log-loss