# TAKE HOME QUIZ 1.B
Lucieni Saldanha

Steps:
- Pick some data set (ground truth)
- Generate a prediction set ( to be compared to ground truth)
- Analyze predictions and ground truth applying evalution metrics, and explain results

In [23]:
# Download a training set from kaggle ( Titanic challenge - binary classification)
# transform csv file to a pandas dataframe 
import pandas as pd
data = pd.read_csv("./train.csv")
data.shape

(891, 12)

We see that our dataset has 891 rows of data, and 12 columns.

In [24]:
# visualize the list of columns in dataframe/dataset
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
# visualize the first 5 rows of our dataset
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

We are only interested in the column 'Survived', to obtain a list of 0 and 1. The 'Survived' column with value equal to 0 meant the person did not survive , and for the value equal to 1 the person survived.

In [26]:
# select only column needed for evaluation
is_survived = data.Survived
print(is_survived.head(10))

0    0
1    1
2    1
3    1
4    0
5    0
6    0
7    0
8    1
9    1
Name: Survived, dtype: int64

In [27]:
# check for integrity of selected values
print(len(is_survived))

891

Lets generate a random list (that will be our predictions list), and populate it with 0 and 1.

In [28]:
# generate a list with 891 elements, and shuffle elements.
import random
model_predictions = [0] * 445 + [1] * 446

random.shuffle(model_predictions)

print(model_predictions[0:10])

[0, 0, 1, 1, 0, 1, 1, 0, 1, 0]

In [29]:
# turn list into a dataframe
model_predictions_df = pd.DataFrame(model_predictions, columns=["Prediction"])

print(model_predictions_df.shape)

(891, 1)

In [30]:
# print first 10 rows of predicted data
print(model_predictions_df.head(10))

   Prediction
0           0
1           0
2           1
3           1
4           0
5           1
6           1
7           0
8           1
9           0

So far, we have obtained a data set with real values, is_survived, and generated a prediction data set, model_predictions_df.

We need to evaluate the data is_survived and the model_predictions_df, using evaluation metrics for our binary classification problem.
The metrics to be used:
    
    - Accuracy 
    - Precision-Recall
    - ROC_AUC
    - Log-loss